* {
    margin: 0;
    padding: 0;

}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009686), url(img/hight.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 180px;
    position: absolute;
    left: 1%;
    top: -10px;

}

.banner-text {
    text-align: center;
    color: #ffffff;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
}

.banner-text p {
    font-size: 40px;
    font-style: italic;
}

.banner-btn {
    margin: 50px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #ffff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;

}

.banner-btn a:hover {
    color: #000;

}

#sideNav {
    width: 220px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009686;
    z-index: 2;
    transition: 0.5s;

}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;

}

#manubtn {
    width: 25px;
    height: 25px;
    background: #009686;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}

#manubtn image {
    width: 20px;
    margin-top: 15px;

}

@media screen and(max-width: 770px) {
    .banner-text h1 {
        font-size: 44px;

    }

    .banner-btn a {
        display: block;
        margin: 20px auto;

    }
}

/* ... previous CSS rules ... */

#FEATURES {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
}

.title-text p {
    margin: auto;
    font-size: 40px;
    color: rgb(255, 0, 98);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after {
    content: "";
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: rotate(0deg);
    border-top-left-radius: 25px;
    border-top-right-radius: 20px;

}

.title-text h1 {
    font-size: 50px;
}

.FEATURES-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.FEATURES {
    flex-basis: 50%;
}

.FEATURES-img {
    flex-basis: 50%;
    margin: auto;
}

.FEATURES-img img {
    width: 90%;
    padding-top: 50px;

}

.FEATURES h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #070707;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.features-icon .fa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #4c03f6;
    border: 1px solid blue;
}

.features-text p {
    padding: 0 30px;
    text-align: initial;
}

#services {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.services-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-services {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-services img {
    width: 100%;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009686);
    opacity: 0;
    transition: 1s;
}

.single-services:hover .overlay {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    opacity: 0;
    transition: 1s;


}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p {
    font-size: 20px;
}

.service-desc h3 {
    font-size: 20px;
}

.single-services:hover .service-desc {
    bottom: 40%;
    opacity: 1;
    /* testimonials */
}

/* testimonials */
.testimonials {
    width: 100%;
    padding: 120px 0 40px;
}

.testimonials-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonials-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}

.testimonials-col p {
    font-size: 20px;
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;

}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fab {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small {
    color: #009686;
}

.testimonials-col:hover {
    transform: translateY(-7px);
}

/* footer */
#footer {
    padding: 120px 0 100px;
    background: #efefef;
    position: relative;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

.footer-left .far,
.footer-right .fas {
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

.footer-img img {
    width: 10%;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 40%;
    padding-top: 25px;
    transform: translate(-50%, -50%);
}

.social-links {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    z-index: 9999;

}

.social-links .fab {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s
}

.social-links .fab:hover {
    color: #fff;
    background: #009688;
    transform: translateY(-7px);

}

.social-links p {
    font-size: 20px;
    margin-top: 12px;
}
#FEATURES{
    
    background: #fbfbf9;
}
#FEATURES p{
    color: rgb(255, 98, 41);
}
#FEATURES p:hover{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;}
    #FEATURES h1:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;
    }
    #services p:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;
    }
    #services h1:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;
    }
    #services h3:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;
    }
    .testimonials p:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e74, 0 0 20px #ff852e71, 0 0 25px  #ff852e87,  0 0 30px  #ff852e73;
    }
    .testimonials h1:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;
    }
    .title-text p:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;
    }
    .title-text h1:hover{
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff852e, 0 0 20px #ff852e, 0 0 25px  #ff852e,  0 0 30px  #ff852e;
    }